/* ==========================================================================
Main page styles
========================================================================== */
.hipster {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  // background: url('../../../content/images/avengers_homepage.png') no-repeat;
  background-size: cover;
  opacity: 0.2;
}

.welcome_center {
  text-align: center;
}
